<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hedge.fun Landing</title>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Oswald:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800">
  <link rel="icon" type="image/png" href="images/logo.png">
</head>
<body>

<!-- HEADER -->
<header class="header">
  <a href="./" class="logo"><img src="images/logo.png" alt="Hedge.fun"></a>
</header>

<main>

<!-- SECTION: About Project -->
<section id="AboutProject" class="section about-project-section">
  <div class="about-project-container">
    <h1>How It Works?</h1>
    <p>1. Launch the dApp</p>
    <p>2. Connect wallet & check balance</p>
    <p>3. Place your hedge bet</p>
    <a href="index.html" class="btn btn-gradient btn-round">Launch dApp</a>
  </div>
</section>

</main>

<!-- FOOTER -->
		<footer class="footer">
			<div class="footer-content">
				<a href="https://x.com/hedgeyourfun" target="_blank" class="social-link">
					<img src="images/twitter.png" alt="Twitter" class="social-icon">
				</a>
				<a href="https://docs.hedgeyour.fun" class="social-link">
					<img src="images/git.png" alt="FAQ" class="social-icon">
				</a>
				<a href="https://linktr.ee/HedgeYourFun" class="social-link">
					<img src="images/linktree.png" alt="FAQ" class="social-icon">
				</a>
				<!-- <a href="#" class="social-link">
					<img src="images/discord.png" alt="Discord" class="social-icon">
				</a> -->
			</div>
		</footer>


<!-- BACKGROUND ANIMATION -->
<div class="crypto-bg">
  <span>₿</span>
  <span>Ξ</span>
  <span>SOL</span>
  <span>$</span>
  <span>₿</span>
  <span>Ξ</span>
  <span>SOL</span>
  <span>$</span>
</div>

<!-- BACKGROUND PARTICLES -->
<div id="particles-js" style="position:fixed; width:100%; height:100%; top:0; left:0; z-index:-1;"></div>

<script src="js/main.js" defer></script>

</body>
</html>
