<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hedge.fun Waitlist</title>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Oswald:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800">
  <link rel="icon" type="image/png" href="images/logo.png">
</head>
<body>

<!-- HEADER -->
<header class="header">
  <a href="./" class="logo"><img src="images/logo.png" alt="Hedge.fun"></a>
</header>

<main>

<section id="Waitlist" class="waitlist-section section">
<div>
  <h1>Hedge Your Fun(ds)</h1>
  <p>Hedge your spot positions using prediction markets - simply bet against yourself on correlated market outcomes.</p>
  <form id="waitlistForm">
    <input type="email" name="email" placeholder="Enter your email address" required>
    <button type="submit" class="btn btn-gradient btn-round">Join waitlist</button>
  </form>
  <p style="color: #ec5320; text-decoration: underline; font-weight: 600;">
  <br>Drop your email and secure 100 Early Hedgehog points.</p>
</div>
</section>

<script>
document.getElementById('waitlistForm').addEventListener('submit', function(e) {
  e.preventDefault();
  const email = this.email.value.trim();
  if (!email) return;
  alert('Thanks! ' + email + ' added to the waitlist.');
  this.reset();
  
  window.location.href = 'Landing.html';
});
</script>


</main>

<!-- FOOTER -->
<footer class="footer">
  <div class="footer-content">
    <span>&copy; 2025 hedgeyour.fun</span>
  </div>
</footer>

<!-- BACKGROUND ANIMATION -->
<div class="crypto-bg">
  <span>₿</span>
  <span>Ξ</span>
  <span>SOL</span>
  <span>$</span>
  <span>₿</span>
  <span>Ξ</span>
  <span>SOL</span>
  <span>$</span>
</div>

<!-- BACKGROUND PARTICLES -->
<div id="particles-js" style="position:fixed; width:100%; height:100%; top:0; left:0; z-index:-1;"></div>

<script src="js/main.js" defer></script>

</body>
</html>
